

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color:#0c0c0c ;
  background-color:  #fbfbfb;;
  margin: 0;
  }

input {
  font-family: inherit;
}
  

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  
 
}
.section {
  padding: 60px 0;
  
}

@media screen and (min-width: 768px) {
.container {
  max-width: 768px;
  padding: 0 32px;
  
  }
.section {
  padding: 80px 0;
 
  }
}

@media screen and (min-width: 1280px) {
.container {
  max-width: 1280px;
  padding: 0 65px;
  
   }

.section {
  padding: 100px 0;
  
  }
}





